<div class="row justify-content-center my-5">
  <div class="col col-sm-8 col-md-6 col-lg-4">
    <h1>Registrate con tu email</h1>
    <br>
    <form method="POST" action="/register" enctype="multipart/form-data">
      <label for="formGroupExampleInput2">Nombre completo</label>
      <div class="input-group mb-3">
        <input value="{{user.name}}" name="name" type="name" class="form-control {{#if errors.name}}is-invalid{{/if}}"
          placeholder="ej. Juan García">
        {{#if errors.name}}
        <div class="invalid-feedback">{{errors.name}}</div>
        {{/if}}
      </div>

      <label for="formGroupExampleInput2">Email</label>
      <div class="input-group mb-3">
        <input value="{{user.email}}" name="email" type="email"
          class="form-control {{#if errors.email}}is-invalid{{/if}}" placeholder="example@example.com">
        {{#if errors.email}}
        <div class="invalid-feedback">{{errors.email}}</div>
          {{/if}}
      </div>

      <label for="formGroupExampleInput2">Contraseña</label>
      <div class="input-group mb-3">
          <input name="password" type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}"
            placeholder="Contraseña">
          <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
            <i class="fa fa-eye-slash fa-fw"></i>
          </button>
          {{#if errors.password}}
          <div class="invalid-feedback">{{errors.password}}</div>
          {{/if}}
      </div>

      <label for="image" class="form-label">Imagen de perfil</label>
      <div class="input-group mb-3">
          <input class="form-control" name="image" type="file" id="image">
      </div>

      <br>
      <hr>
      
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary bg-light-green border-0">Registrate</button>
        </div>
    </form>
  </div>
</div>


{{!--
<div class="input-group mb-3">
  <input type="password" name="password" class="form-control py-2 ps-4" placeholder="Password"
    aria-label="User password">
  <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
    <i class="fa fa-eye-slash fa-fw"></i>
  </button>
</div> --}}