{{#each parties as |party|}}


<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 gy-4 align-items-stretch">
    <a id="link-cards" href="/parties/{{party.id}}" style="text-decoration: none">
        <div id="cards-style" class="card w-100 bg-secondary" style="width: 18rem">
            <div class="position-relative">
                <img src="{{party.image}}" class="card-img-top" style="height:220px;" alt="...">
                <div class="like-button">
                    {{#if ../currentUser}}
                    <button class="like-button border-0 bg-secondary">
                        <i data-id="{{party.id}}"
                            class=" like-action fa-solid fa-heart fa-xl
                            {{#userLikedParty likes=party.likes currentUserId=../currentUser.id}} icon-liked {{/userLikedParty}}">
                        </i>
                    </button>
                    {{/if}}
                </div>
            </div>

            <div class="card-body d-flex flex-column">
                <h5 id="card-name" class="card-title"><small> {{party.name}}</small></h5>
                <div class="d-flex flex-row-reverse bd-highlight justify-content-between">

                    <h4><big class="card-text text-big mb-1">{{party.price}}€</big></h4>

                    {{#if party.rating}}
                    <div class="mt-2">
                        <i class="fa-solid fa-star fa-xl" style="color: yellow;">{{comment.rate}}</i>
                        {{!-- <small></small> --}}
                        {{party.rating}}/5
                    </div>
                    {{/if}}


                    {{#if ../currentUser}}
                    {{#ifManagerTrue manager=../currentUser.manager}}
                    <div class="button-delete">
                        <form class="" action="/parties/{{party.id}}/delete" method="POST">
                            <button class="btn btn-danger rounded-pill" type="submit">Eliminar</button>
                        </form>
                        <small>
                            <a href="/parties/{{party.id}}/edit" class="btn btn-success rounded-pill">Editar</a>
                        </small>
                    </div>
                      {{/ifManagerTrue}}
                    {{else}}
                    <button type="button" class="btn btn-lg" disabled> </button>
                    {{/if}}
                   
                </div>
            </div>

            
        </div>

    </a>
</div>

{{/each}}