<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
  <div class="container-fluid">
    <a id="title-size" class="navbar-brand" href="/">iClubbers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Contacto</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/parties/results/?musicTypes=techno">Techno</a></li>
            <li><a class="dropdown-item" href="/parties/results/?musicTypes=tech-house">Tech-house</a></li>
            <li><a class="dropdown-item" href="/parties/results/?musicTypes=hardstyle">Hardstyle</a></li>
            <li><a class="dropdown-item" href="/parties/results/?musicTypes=melodic-techno">Melodic-Techno</a></li>
            <li><a class="dropdown-item" href="/parties/results/?musicTypes=reggaeton">Reggaeton</a></li>
            <li><a class="dropdown-item" href="/parties/results/?musicTypes=edm">Edm</a></li>

          </ul>
        </li>
         {{!-- {{#ifManagerTrue manager=currentUser.manager}} --}}
        <div class="border border-right border-light"></div>
        <li class="nav-item">
          <a class="nav-link active" href="/parties/create">Crea tu evento</a>
        </li>
         <li>
          <form action="/manager"  method="post">
              <button class="btn btn-outline-none text-light " type="submit"> Admin</button>
          </form>
          </li>

           {{!-- {{/ifManagerTrue}} --}}
       
      </ul>
      <form class="d-flex mx-4" method="GET" action="/parties/results">
        <input class="form-control me-2" name="name" type="search" placeholder="Encuentra eventos" aria-label="Search">
        <button class="btn btn-outline-success fa-solid" type="submit">
          <i class="fa fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="d-flex">
        <li class="nav-item navbar-nav me-auto mt-1 mb-lg-0">
          <a class="nav-link active" aria-current="page" href="/favs"><i class="fa-solid fa-heart fa-xl"></i></a>
        </li>
        {{#if currentUser}}
        <button class="btn rounded-circle nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="{{currentUser.image}}" alt="" style="height: 30px; width: 30px" class="rounded-circle">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header text-modal">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="text-modal row justify-content-center mt-3">
                <img class="rounded-circle" src="{{currentUser.image}}" style="height: 120px; width: 150px" alt="">
                <h5 class="text-modal modal-title text-center mb-3" id="exampleModalLabel">{{currentUser.name}}</h5>
              </div>
              <div class="modal-footer">
                <a href="/logout"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
                    class="fa-solid fa-arrow-right-from-bracket"></i> <span></span> Logout</button></a>
                {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
              </div>
            </div>
          </div>
        </div>

        {{else}}
        <li class="navbar-nav me-auto mt-1 mb-lg-0 mx-2">
          <a class="nav-link active" href="/register"><i class="fa-solid fa-user fa-xl"></i></a>
        </li>
        {{/if}}

      </div>
    </div>
  </div>
</nav>






{{!--
<img src="{{currentUser.image}}" alt="" style="height: 30px; width: 30px" class="rounded-circle"> --}}


{{!--
<img src="{{currentUser.image}}" alt="" style="height: 100px; width:100px">
<li class="">
  <p>{{currentUser.name}}</p>
  <a class="button b-3" aria-current="page" href="/logout">Logout</a>
</li> --}}