<div class="container">

  <h2 class="c-dark-gray font-weight-semi mb-4">Detalle del evento</h2>

  <div class="row mx-auto bg-white mx-auto mb-4">
    <div class="col-md-4 col-sm-12 py-2">
      <img src="{{party.image}}" class="w-100 rounded border"/>
    </div>

    <div class="col-md-6 col-sm-12 py-2">
      <h3 class="font-weight-semi">{{party.name}}</h3>
      <p class="card-address">
        <span class="pe-1">
          <i class="fa fa-map-pin"></i>
        </span>{{party.address}}</p>

      <p>{{{party.description}}}</p>
    </div>
    <div>
      {{#each party.musicTypes as |musicType|}}
        <p>{{musicType}}</p>
      {{/each}}
    </div>
  </div>
</div>