<div class="container mt-4 absolute">
    {{#if likes}}
    <h1> Tus Favoritos: </h1>
    <div class="row mx-auto">
        

         {{#each likes as |like|}}
    
        <div class="col-xl-3 col-sm-6 col-xs-12 gy-4 d-flex align-items-stretch">
            <a id="link-cards" href="/parties/{{party.id}}" style="text-decoration: none">
                <div id="cards-style" class="card w-100 bg-secondary" style="width: 18rem">
                    <div class="position-relative">
                        <img src="{{party.image}}" class="card-img-top" style="height:220px;" alt="...">
                        <div class="like-button">
                            {{#if ../currentUser}}
                            <button class="like-button border-0 bg-secondary">
                                <i data-id="{{party.id}}"
                                    class=" like-action fa-solid fa-heart fa-xl
                                    {{#userLikedParty likes=party.likes currentUserId=../currentUser.id}} icon-liked {{/userLikedParty}}"></i>
                            </button>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card-body d-flex flex-column mt-2">
                        <h5 class="card-title">{{party.name}}</h5>
                        <small class="card-text text-small mb-1">📍 {{party.place}}</small>
                        <br>
                        {{!-- <small class="card-text text-small mb-1">🎵 Tipo de música:
                            {{party.musicTypes}}</small>--}}
                        <small class="card-text text-small mb-1">📅 {{#dateHelper date =
                            party.date}}{{/dateHelper}}</small>
                        <br>
                        <small class="card-text text-small mb-1">💸 {{party.price}}€</small>
                        <div class="d-flex justify-content-between">
                            
                           <a href="/parties/{{party.id}}" class="btn "></a>
                         
                            <a href="/parties/{{party.id}}" class="btn "></a>
                          
                        </div>
                    </div>

                </div>
        </div>
        </a>
        {{/each}}
        {{else}}

        <h1>Lo sentimos aún no tiene seleccionado eventos favoritos</h1>

        {{/if}}

    </div>




</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>